<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suite Balance | ISB</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style2.css}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>

<div class="sidebar">
    <h2>Dashboard</h2>
    <ul>
        <li><a th:href="@{/dashboard}">Inicio</a></li>
        <li><a th:href="@{/gestion-usuario}">Gestion Usuario</a></li>
        <li><a th:href="@{/subir-doc}">Documentos</a></li>
        <li><a th:href="@{/partida}">Partidas</a></li>
        <li><a th:href="@{/registro-libro-diario}">Libro Diario</a></li>
        <li><a th:href="@{/generar-reporte}">Reportes</a></li>
        <li><a th:href="@{/bitacora}">Auditoría</a></li>
    </ul>
</div>

    <div class="container_principal">
        <header class="barra-superior">
            <h1>ISuite Balance | ISB</h1>
            <div class="barra-busqueda">
                <input type="text" placeholder="Buscar..." />
            </div>
            <div class="info-usuario">
                <span>Alejandro</span>
                <img src="https://cdn-icons-png.flaticon.com/512/847/847969.png" alt="User" class="avatar">
            </div>
        </header>
        <div class="formulario-usuario">
            <h1>Eliminar Usuario</h1>

            <form>
                <div class="form-grupo">
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" placeholder="Diego Alejandro">
                </div>

                <div class="form-grupo">
                    <label for="apellido">Apellido:</label>
                    <input type="text" id="apellido" placeholder="Flores Montesinos">
                </div>

                <div class="form-grupo">
                    <label for="correo">Correo:</label>
                    <input type="email" id="correo" placeholder="FM22026@UES.UED.SV">
                </div>

                <div class="form-grupo">
                    <label for="rol">Asignar Rol:</label>
                    <select id="rol">
                        <option>Seleccionar Rol del Usuario</option>
                        <option>Administrador</option>
                        <option>Contador</option>
                        <option>Supervisor</option>
                    </select>
                </div>

                <h2 class="texto">¿Desea <span class="resaltar">ELIMINAR</span> ese usuario de forma permanente?</h2>


                <div class="botones">
                    <button type="submit" class="btn-agregar">Eliminar Usuario</button>
                    <button type="button" class="btn-cancelar">Cancelar</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>
